body {
  background-image: url("https://images.unsplash.com/photo-1532764985383-72b384437997?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}
ul {
  margin: 0;
  padding: 0px;
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  margin: 0 auto;
  font-family: "Share Tech", sans-serif;
}

h2 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
}

h4 {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.7);
}

p {
  padding: 5px 10px;
  margin: 0 auto;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.4);
}

button:hover {
  background-color: tomato !important;
  color: whitesmoke !important;
}

div.row {
  padding: 10px;
}

.column {
  margin: auto;
  text-align: left;
  max-width: 500px;
  flex: 50%;
}

#left {
  margin: auto;
  margin-top: 20px;
}

#right {
  display: block;
  margin: auto;
}

#date-time {
  margin-top: 10px;
}

#horoscope-p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  margin: 0 auto;
  padding: 0px;
}

td.header-card {
  max-width: 500px;
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.overview {
  margin-bottom: 20px;
}

#nav-bar {
  background-color: transparent !important;
}

#nav-bar-logo {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 30px !important;
  text-decoration: solid tomato line-through;
  font-family: "Share Tech", sans-serif;
}

#search-text {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  color: rgba(255, 255, 255, 0.4) !important;
}

#searchbar-button {
  border: 1px solid tomato !important;
  color: whitesmoke !important;
}

.main-card {
  min-width: 500px;
  max-width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  display: inline-block;
  margin-top: 20px;
}

#city-name {
  margin: 0 auto;
  text-align: center;
}

.temp-and-icon {
  padding: 0;
}

div.clearfix {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-height: 120px;
  max-width: 500px;
  margin-right: 15px;
}

span#weather-temperature {
  font-size: 65px;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  margin-right: 8px;
}

.units {
  font-size: 18px;
  display: inline;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  top: -32px;
}

.active {
  color: rgba(255, 255, 255, 0.9);
}

.inactive {
  color: rgba(255, 255, 255, 0.4);
}

#units-f {
  font-size: 18px;
  display: inline;
  position: relative;
  top: 0px;
  text-decoration: none;
}

#units-c {
  font-size: 18px;
  display: inline;
  position: relative;
  top: 0px;
  text-decoration: none;
}

#units-c:hover {
  color: tomato;
}

#units-f:hover {
  color: tomato;
}

#main-icon {
  color: tomato;
  margin: 0 auto;
  padding-bottom: 20px;
}

#main-icon-small {
  color: tomato;
  margin: 0 auto;
}

.card-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  padding: 0px 10px 10px 10px;
  margin: 0 auto;
}

#location-button {
  padding: 10px;
  margin: 0 auto;
  display: block;
}

#geo-button {
  border: 1px solid tomato;
  color: whitesmoke !important;
}

#text-muted {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.card-body {
  border: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 150px;
  min-width: 150px;
  border-radius: 20px;
  background: transparent;
  color: #6c757d;
  text-align: center;
  padding: 10px;
  margin: auto;
  display: block;
  margin-right: 10px;
  margin-top: 10px;
}

.card-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  font-family: "Share Tech", sans-serif;
}

.card-text-sub {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
