.main-body {
  background-color: #343a40;
}

button:hover {
  background-color: #05e1a6 !important ;
  color: beige !important;
}

h2 {
  color: #6c757d;
  font-size: 25px;
  text-align: left;
  margin: 0 auto;
  padding: 10px 10px 0px 10px;
}

.card-main-mb-3 {
  border-radius: 50px;
  background: #343a40;
  box-shadow: -20px -20px 31px #2c3136, 20px 20px 31px #3c434a;
  display: block;
  margin: 0 auto;
  color: #0ecc99;
}

div.col-md-4 {
  padding-top: 20px;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 20px !important;
}

.fa-city {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-title {
  color: #05e1a6;
  font-size: 30px;
  padding: 0px 10px 10px 10px;
  margin: 0 auto;
}
p {
  padding: 5px 10px;
  margin: 0 auto;
  text-transform: capitalize;
}

#location-button {
  padding: 10px;
  margin: 0 auto;
  display: block;
}

#text-muted {
  text-decoration: none;
  color: #6c757d;
}

.card-main {
  border: 1px solid #343a40;
  border-radius: 50px;
  background: #343a40;
  box-shadow: -20px -20px 31px #2c3136, 20px 20px 31px #3c434a;
  color: #6c757d;
  text-align: center;
}
.card-main:hover {
  border-radius: 50px;
  background: #343a40;
  box-shadow: inset 24px 24px 48px #2b3035, inset -24px -24px 48px #3d444b;
  color: #05e1a6;
}
